*
!1DTHFP
!Ack38
!ACK39OUT8
!ACK3X
!CPTAB
!CPTCD
!CPTGH
!CPTKL
!CRTAB
!CRTCD
!CRTEF
!CRTGH
!div
!DIVA
!divd
!divi
!divr
!divrem
!DIVS
!DIVT
!FERRANTI
!FLEXOUT
!FLOATT
!FRBTEST
!FTT86c
!FTT86cSL
!GAP
!GPT
!HiGuys
!horner
!IGPT
!IWRCH
!Leech
!LIV1
!LIV2
!LIV3
!LIV4
!LIV5
!LIV6
!LIV7
!LOGUYS
!NIL
!NOUV0
!NOUV1
!NOUV2
!NOUV3
!NOUV4
!NOUV5
!NOUV6
!NOUV7
!NOUV8
!NOUV9
!OUT17
!OUT4A
!OUT4B
!OUT4C
!OUT4D
!OUT4E
!OUT4F
!OUT4G
!OUT4H
!OUT4I
!OUT4J
!OUT4K
!OUT4L
!OUT4T
!OUT8
!OUTX
!PATCH2
!PATCH3
!PLT
!QUAD
!RESET6
!RESET7
!RLT
!SHADT
!SI12TPC
!SI2TP
!SI2TPC
!SLT
!TDISK
!TDISKEM
!TDISKFH
!TDISKFHNS
!TDISKOR
!TDRUM
!TDRUMEOF
!TDRUMR2EM
!TDRUMW2EM
!TEMPUS
!TLO
!TR2SI
!TR2SI1C
!TR2SIC
!ZERO
